.bball-buttonImg {
    height: 170px;
    width: 200px;
}

.titleHeading {
    text-align: center;
    font-family: 'Permanent Marker', 'Shadows Into Light', "Times New Roman";
}

.background1 {
    background-color:#1D1160;
    color: #E56020;
    padding: 20px;
    margin-top: 30px;
}

.background2 {
    background-color:#1D1160;
    color: #E56020;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.lead {
    font-family: 'Shadows Into Light', 'Amatic SC', "Times New Roman";
    font-size: 160%;
}

h3 {
    font-family: 'Shadows Into Light', 'Amatic SC', "Times New Roman";
    font-weight: bold;
}

body {
    background-image: url(https://www.dazzlejunction.com/backgrounds/NBA/phoenix-suns.gif); 
    background-repeat:repeat; 
    background-attachment: fixed;
    height: 100%;
}
